In [2]:
#Laura N ottaa gender, age
#Laura S ottaa family, years of service
#Aada ottaa education, salary
#pöö


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv("WorkPlaceSatisfactionSurveyData.xlsx - Data.csv")
df = df.drop(columns=["number","holidayCabin","gym", "muscleCare","healthCare"], errors="ignore")

In [5]:
print("Ensimmäiset rivit:")
print(df.head())
print("\nInfo:")
print(df.info())

Ensimmäiset rivit:
   number  gender  age  family  education  years_of_service  salary  \
0       1       1   38       1        1.0              22.0    3587
1       2       1   29       2        2.0              10.0    2963
2       3       1   30       1        1.0               7.0    1989
3       4       1   36       2        1.0              14.0    2144
4       5       1   24       1        2.0               4.0    2183

   sat_management  sat_colleques  sat_workingEnvironment  sat_salary  \
0               3            3.0                       3           3
1               1            5.0                       2           1
2               3            4.0                       1           1
3               3            3.0                       3           3
4               2            3.0                       2           1

   sat_tasks  healtcare  holidayCabin  gym  muscleCare
0          3        NaN           NaN  NaN         NaN
1          3        NaN           NaN  NaN         NaN
2          3        1.0           NaN  NaN         NaN
3          3        1.0           NaN  NaN         NaN
4          2        1.0           NaN  NaN         NaN

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   number                  82 non-null     int64
 1   gender                  82 non-null     int64
 2   age                     82 non-null     int64
 3   family                  82 non-null     int64
 4   education               81 non-null     float64
 5   years_of_service        80 non-null     float64
 6   salary                  82 non-null     int64
 7   sat_management          82 non-null     int64
 8   sat_colleques           81 non-null     float64
 9   sat_workingEnvironment  82 non-null     int64
 10  sat_salary              82 non-null     int64
 11  sat_tasks               82 non-null     int64
 12  healtcare               47 non-null     float64
 13  holidayCabin            20 non-null     float64
 14  gym                     9 non-null      float64
 15  muscleCare              22 non-null     float64
dtypes: float64(7), int64(9)
memory usage: 10.4 KB
None

In [3]:
print("\nPuuttuvat arvot per muuttuja:")
print(df.isna().sum())

Puuttuvat arvot per muuttuja:
number                     0
gender                     0
age                        0
family                     0
education                  1
years_of_service           2
salary                     0
sat_management             0
sat_colleques              1
sat_workingEnvironment     0
sat_salary                 0
sat_tasks                  0
healtcare                 35
holidayCabin              62
gym                       73
muscleCare                60
dtype: int64